<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Ma Banque</title>
  <link rel="stylesheet" type="text/css"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
  th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
  href="css/style.css"
  th:href="@{css/style.css}"/>
</head>
<body>
   <h1>Login</h1>
   <form name='f' action="@{/login}" method='POST'>
      <table>
         <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
         </tr>
      </table>
  </form>
</body>
</html>